{% load sekizai_tags cms_tags %}
<h1>{% render_model question "text" %}</h1>
<div id="question_form_{{ question.id }}">
    <form id="question_form">
        {% csrf_token %}
        {% for answer in question.questionanswer_set.all %}
            <input type="{{ question.multiple_answers|yesno:"checkbox,radio" }}" name="answers"
                   id="answer{{ forloop.counter }}" value="{{ answer.id }}"/>
            <label for="answer{{ forloop.counter }}">{{ answer.text }}</label>
            <br/>
        {% endfor %}
        <input type="submit" class="btn btn-default"/>
    </form>
</div>
<div id="question_answers_{{ question.id }}" style="display: none">
    {% for key, value in question.get_results.iteritems %}
        <p>{{ key.text }}:{{ value }}</p>
    {% endfor %}
</div>
<script>
    $("#question_form_" + {{ question.id }}).submit(function (event) {
        event.preventDefault();
        $("#question_answers_" +{{ question.id }}).css("display", "block");
        $("#question_form_" +{{ question.id }}).css("display", "none");
{#        $.ajax({#}
{#            type: "POST",#}
{#            url: "{% url 'question' question.id %}",#}
{#            data: $,#}
{#            success: function (html) {#}
{#                alert(html);#}
{#            }#}
{#        });#}
</script>